<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/setup-activity"></ion-back-button>
    </ion-buttons>
    <ion-title>Profile Setup (5/7)</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wizard-container">
    <div class="prompt-area">
      <h2>What is your primary Goal?</h2>

      <div class="options-list">
        <div 
          *ngFor="let o of goalOptions" 
          class="option-card" 
          [class.selected]="form.value.goal === o.value"
          (click)="selectOption(o.value)"
        >
          {{ o.label }}
          <ion-icon *ngIf="form.value.goal === o.value" name="checkmark-circle" slot="end"></ion-icon>
        </div>
      </div>

      <form [formGroup]="form" style="display: none;">
        <input formControlName="goal">
      </form>
    </div>

    <div class="button-area">
      <ion-button [disabled]="form.invalid" (click)="next()">Next</ion-button>
    </div>
  </div>
</ion-content>
