<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab4" color="dark"></ion-back-button>
    </ion-buttons>
    <ion-title class="page-title">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="settings-container">
    
    <div class="section-title">Preferences</div>

    <div class="section-title">Account</div>

    <ion-list lines="none" class="premium-list">
      <ion-item button detail="false" class="setting-item" (click)="changeEmail()">
        <ion-label>Change email</ion-label>
        <ion-icon slot="end" name="chevron-forward" class="arrow-icon"></ion-icon>
      </ion-item>

      <ion-item button detail="false" class="setting-item" (click)="changePassword()">
        <ion-label>Change password</ion-label>
        <ion-icon slot="end" name="chevron-forward" class="arrow-icon"></ion-icon>
      </ion-item>

      <ion-item button detail="false" class="setting-item" (click)="editPersonalInfo()">
        <ion-label>Personal information</ion-label>
        <ion-icon slot="end" name="chevron-forward" class="arrow-icon"></ion-icon>
      </ion-item>

      <ion-item button detail="false" class="setting-item danger-item" (click)="deleteAccount()">
        <ion-label color="danger">Delete your account</ion-label>
        <ion-icon slot="end" name="chevron-forward" class="arrow-icon"></ion-icon>
      </ion-item>
    </ion-list>

    <div class="logout-container">
      <ion-button fill="clear" color="danger" (click)="logout()">
        Log out
      </ion-button>
      <div class="version-text">Version 3.1.1</div>
    </div>

  </div>
</ion-content>