<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/auth/login-password"></ion-back-button>
    </ion-buttons>
    <ion-title>Reset Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="wizard-container">
    <div class="prompt-area">
      <form [formGroup]="resetForm" (ngSubmit)="sendOtp()">
        <h2>Reset Your Password</h2>
        <ion-list>
          <ion-item>
            <ion-label position="stacked">Email</ion-label>
            <ion-input
              formControlName="email"
              type="email"
              inputmode="email"
              required
            ></ion-input>
          </ion-item>
        </ion-list>

        <ion-text color="danger" *ngIf="errorMessage" class="ion-padding-start">
          <p>{{ errorMessage }}</p>
        </ion-text>
      </form>
      
      <ion-note class="ion-padding-start">
        We will send a six-digit verification code to your email address for password resetting.
      </ion-note>

    </div>

    <div class="button-area">
      <ion-button
        expand="block"
        (click)="sendOtp()"
        [disabled]="resetForm.invalid || isLoading"
      >
        <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
        <span *ngIf="!isLoading">Send verification code</span>
      </ion-button>
    </div>
  </div>

  <ion-alert
    header="Sent"
    message="A verification code for resetting your password has been sent to your email address."
    [buttons]="['OK']"
    [isOpen]="isAlertOpen"
    (didDismiss)="onAlertDismiss()"
  ></ion-alert>
</ion-content>