.wizard-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.prompt-area {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 32px;
  text-align: center;

  padding-bottom: 35vh;
}

.prompt-area h2 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #000000;
  margin-bottom: 24px;
  letter-spacing: -0.03em;
  line-height: 1.1;
}

.prompt-area ion-item {
  --background: #f4f5f8;
  --border-radius: 8px;
  margin-top: 16px;
}

.prompt-area ion-input {
  --color: #000;
}

.button-area {
  position: absolute;
  bottom: 40px; 
  left: 0;
  right: 0;
  padding: 0 16px;
  width: 100%;
}

.error-text {
  text-align: center;
  color: var(--ion-color-danger);
  margin: 12px 0;
}