<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="page-title">Nutrition</ion-title>
  </ion-toolbar>
  
  <ion-toolbar>
    <ion-segment [(ngModel)]="currentSegment" (ionChange)="segmentChanged($event)" class="custom-segment">
      <ion-segment-button value="today">
        <ion-label>Today</ion-label>
      </ion-segment-button>
      <ion-segment-button value="week">
        <ion-label>This Week</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div *ngIf="(currentSegment === 'today' && isLoadingToday) || (currentSegment === 'week' && isLoadingWeek)" class="loading-wrapper">
    <ion-spinner name="crescent"></ion-spinner>
    <p class="loading-hint">The model is generating your plan based on your profile, please don't leave this page...</p>
  </div>

  <div [ngSwitch]="currentSegment" class="content-container">

    <div *ngSwitchCase="'today'">
      <div *ngIf="!isLoadingToday && todaysPlan" class="plan-list fade-in">
        
        <div class="date-header">
          <span class="sub-label">Today's Menu</span>
        </div>

        <div class="meal-card" (click)="openMealDetails(todaysPlan!.breakfast)">
          <div class="meal-icon-box">
            <ion-icon name="sunny-outline"></ion-icon>
          </div>
          <div class="meal-info">
            <span class="meal-type">Breakfast</span>
            <span class="meal-name">{{ todaysPlan!.breakfast.name }}</span>
            <span class="meal-cal">{{ todaysPlan!.breakfast.calories }} kcal</span>
          </div>
          <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
        </div>

        <div class="meal-card" (click)="openMealDetails(todaysPlan!.lunch)">
          <div class="meal-icon-box">
            <ion-icon name="restaurant-outline"></ion-icon>
          </div>
          <div class="meal-info">
            <span class="meal-type">Lunch</span>
            <span class="meal-name">{{ todaysPlan!.lunch.name }}</span>
            <span class="meal-cal">{{ todaysPlan!.lunch.calories }} kcal</span>
          </div>
          <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
        </div>

        <div class="meal-card" (click)="openMealDetails(todaysPlan!.dinner)">
          <div class="meal-icon-box">
            <ion-icon name="moon-outline"></ion-icon>
          </div>
          <div class="meal-info">
            <span class="meal-type">Dinner</span>
            <span class="meal-name">{{ todaysPlan!.dinner.name }}</span>
            <span class="meal-cal">{{ todaysPlan!.dinner.calories }} kcal</span>
          </div>
          <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
        </div>

        <div class="meal-card" (click)="openMealDetails(todaysPlan!.snack)">
          <div class="meal-icon-box">
            <ion-icon name="cafe-outline"></ion-icon>
          </div>
          <div class="meal-info">
            <span class="meal-type">Snack</span>
            <span class="meal-name">{{ todaysPlan!.snack.name }}</span>
            <span class="meal-cal">{{ todaysPlan!.snack.calories }} kcal</span>
          </div>
          <ion-icon name="chevron-forward" class="arrow-icon"></ion-icon>
        </div>

      </div>
    </div>

    <div *ngSwitchCase="'week'">
      <div *ngIf="!isLoadingWeek && weeklyPlan.length > 0" class="fade-in">
        
        <div class="day-selector">
          <div 
            class="day-pill" 
            *ngFor="let day of weeklyPlan; let i = index"
            [class.active]="selectedDayIndex === i"
            (click)="selectDay(i)"
          >
            <span class="day-text">{{ day.dayShort }}</span>
          </div>
        </div>

        <div *ngIf="!selectedDayPlan" class="empty-state">
          <ion-icon name="restaurant"></ion-icon>
          <h3>Free Day</h3>
          <p>Eat intuitively and stay hydrated.</p>
        </div>
        
        <div *ngIf="selectedDayPlan" class="plan-list">
          <div class="date-header">
            <span class="sub-label">Plan for {{ weeklyPlan[selectedDayIndex].day }}</span>
          </div>

          <div class="meal-card" (click)="openMealDetails(selectedDayPlan.breakfast)">
            <div class="meal-icon-box">
              <ion-icon name="sunny-outline"></ion-icon>
            </div>
            <div class="meal-info">
              <span class="meal-type">Breakfast</span>
              <span class="meal-name">{{ selectedDayPlan.breakfast.name }}</span>
            </div>
            <ion-icon name="cart-outline" class="shop-icon" *ngIf="selectedDayPlan.breakfast.amazonLink"></ion-icon>
            <ion-icon name="chevron-forward" class="arrow-icon" *ngIf="!selectedDayPlan.breakfast.amazonLink"></ion-icon>
          </div>

          <div class="meal-card" (click)="openMealDetails(selectedDayPlan.lunch)">
             <div class="meal-icon-box">
              <ion-icon name="restaurant-outline"></ion-icon>
            </div>
            <div class="meal-info">
              <span class="meal-type">Lunch</span>
              <span class="meal-name">{{ selectedDayPlan.lunch.name }}</span>
            </div>
            <ion-icon name="cart-outline" class="shop-icon" *ngIf="selectedDayPlan.lunch.amazonLink"></ion-icon>
            <ion-icon name="chevron-forward" class="arrow-icon" *ngIf="!selectedDayPlan.lunch.amazonLink"></ion-icon>
          </div>

          <div class="meal-card" (click)="openMealDetails(selectedDayPlan.dinner)">
             <div class="meal-icon-box">
              <ion-icon name="moon-outline"></ion-icon>
            </div>
            <div class="meal-info">
              <span class="meal-type">Dinner</span>
              <span class="meal-name">{{ selectedDayPlan.dinner.name }}</span>
            </div>
            <ion-icon name="cart-outline" class="shop-icon" *ngIf="selectedDayPlan.dinner.amazonLink"></ion-icon>
            <ion-icon name="chevron-forward" class="arrow-icon" *ngIf="!selectedDayPlan.dinner.amazonLink"></ion-icon>
          </div>

          <div class="meal-card" (click)="openMealDetails(selectedDayPlan.snack)">
             <div class="meal-icon-box">
              <ion-icon name="cafe-outline"></ion-icon>
            </div>
            <div class="meal-info">
              <span class="meal-type">Snack</span>
              <span class="meal-name">{{ selectedDayPlan.snack.name }}</span>
            </div>
            <ion-icon name="cart-outline" class="shop-icon" *ngIf="selectedDayPlan.snack.amazonLink"></ion-icon>
            <ion-icon name="chevron-forward" class="arrow-icon" *ngIf="!selectedDayPlan.snack.amazonLink"></ion-icon>
          </div>
        </div>
      </div>
    </div>

  </div>
</ion-content>